<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css">  <!-- Путь к файлу в wwwroot -->
</head>
<body>

    @RenderBody()  <!-- Это место для контента из Razor-страниц -->

    <script src="~/js/script.js"></script>  <!-- Путь к файлу в wwwroot -->
</body>
</html>
